*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
}

/* sezione header */
header{
    display: flex;
    justify-content: flex-end;
}

header button{
    margin: 5px;
    padding: 5px;
    background-color: #4a4a4a;
    
    border-radius: 5px;
    border: none;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow: auto;
}

.utente{
    width: calc(100% / 6);
    height: 150px;
    border: 3px solid black;
    position: relative;
}

.utente img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name{    
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background: rgba(0, 0, 0, 0.65);
    padding: 5px 5px;
}


/* FOOTER */
footer{
    background-color: #222222;    
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer button{
    margin: 5px;
    padding: 5px; 
    border: none;
    background-color: transparent;
    font-size: 20px;

}

.color-btn-footer{
    color: white;
}

.fa-share-square{
    color: #4bc800;
}



.End-mtng{
    height: 100%;
    background-color: #4a4a4a;
    color: #db0000;   

}